@page "/alphabet"
@page "/alphabet/{Shuffle:bool}"
@page "/alphabetguess/{Guess:bool}"

@inject HttpClient Http

<PageTitle>Talon Alphabet</PageTitle>
@* <h1 class="d-none d-lg-block text-center ml-3">
Talon Alphabet
</h1>
*@
@if (!Shuffle && !Guess)
{
	<p>Create and edit your own Talon Alphabet with pictures to remind you.</p>
	<p>Note when clicking on save you save all words in the list to browser local storage on the current device.</p>
}

@if (alphabetItems == null)
{
	<p><em>Loading...</em></p>
}
else
{
	@if (Shuffle)
	{
		<div class='layout-as-cards'>
			@foreach (var word in alphabetItems)
			{
				<div class="card m-1" style="width: 15rem;">
					<button style='height:100%' class='btn btn-lg btn-outline-dark' @onclick="LoadData">
						<div class='card-body'>
							<h1 class="card-title">@word.AlphabetWord</h1>
						</div>
						<div class="card-body">
							<div class="card-text">
								@if (!string.IsNullOrWhiteSpace(word.PictureUrl))
								{
									@if (!string.IsNullOrWhiteSpace(word.PictureUrl))
									{
										<div style="display: flex; justify-content: center;">
											<img src='@word.PictureUrl' width="200" />
										</div>
									}
								}
							</div>
						</div>
					</button>
				</div>
			}
		</div>
	}
	else if (Guess)
	{
		<div class="card m-1" style="height: 90vh;width: 80vw;">
			<div style='height:100%' >
				<div class="card-body">
					<div class="card-text">
					@if (_show)
					{
						<input accesskey="g" autofocus maxlength="1" placeholder="(G)uess Letter"
							class='form-control form-control-lg' @oninput="CheckGuess" @bind="_guess" id="guess" />
						
						@if (_message.Contains("Correct"))
						{
							<div class='text-success mt-1'>@_message</div>
						}
						else
						{
							<div class='text-danger mt-1'>@_message</div>
						}
					}
					<div>Correct Guesses: @_index</div>
						@if (!string.IsNullOrWhiteSpace(_alphabet?.PictureUrl))
						{
							@if (!string.IsNullOrWhiteSpace(_alphabet.PictureUrl))
							{
								<div style="display: flex; justify-content: center;">
									@if (!string.IsNullOrWhiteSpace(_alphabet?.PictureUrl))
									{
										@if (!string.IsNullOrWhiteSpace(_alphabet.PictureUrl))
										{
											<div style="display: flex; justify-content: center;">
												<img src='@_alphabet.PictureUrl' height="650" class="big-screen-only" />
												<img src='@_alphabet.PictureUrl' height="200" class="small-screen-only" />
											</div>
										}
									}
								</div>
							}
						}
					</div>
				</div>
			</div>
		</div>

	}
	else
	{
		<table class="table table-bordered table-striped" id="table1">
			<thead>
				<tr>
					<th>Word</th>
					<th>Picture</th>
					<th>
						<button accesskey="s" class="btn btn-outline-success" @onclick="SaveAlphabetAsync"><u>S</u>ave
							All</button>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var word in alphabetItems)
				{
					<tr>
						<td>
							<input class='form-control form-control-lg' @bind="@word.AlphabetWord" id="@word.AlphabetWord" />
						</td>
						<td>
							@if (!string.IsNullOrWhiteSpace(word.PictureUrl))
							{
								<img src="@word.PictureUrl" alt="@word.AlphabetWord" width="200" />
							}
						</td>
						<td>
							<button class="btn btn-outline-danger" @onclick="() => DeleteTalonAlphabet(word)">Delete</button>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<input class='form-control' @bind="@word.PictureUrl" id="@word.PictureUrl" />
						</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td>
						<button accesskey="v" class="btn btn-outline-success" @onclick="SaveAlphabetAsync">Sa<u>v</u>e
							All</button>
						<button accesskey="a" class="btn btn-outline-primary" @onclick="AddAlphabet"><u>A</u>dd</button>
					</td>
				</tr>
			</tfoot>
		</table>
	}
}
@if (!string.IsNullOrWhiteSpace(Message))
{

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>Warning!</strong> @Message
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}