@page "/prompt/{Id:int?}"
<div style="min-width:80vw">
    <h1>@Title</h1>
    <EditForm Model="@PromptDTO" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        @if (PromptDTO.Id > 0)
        {
            <span class="text-info m-1">@PromptDTO.Id</span>
        }
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label for="PromptText">Prompt Text: </label> <i class="text-danger fa">*</i>
                    <InputTextArea rows="20" id="PromptText" class="form-control" @bind-Value="@PromptDTO.PromptText"
                        placeholder="Enter Prompt Text"></InputTextArea>
                    <ValidationMessage For="@(() => PromptDTO.PromptText)" />
                </div>
                <div class="form-group">
                    <label for="Description">Description: </label>
                    <InputText id="Description" class="form-control" @bind-Value="@PromptDTO.Description"
                        placeholder="Enter Description"></InputText>
                    <ValidationMessage For="@(() => PromptDTO.Description)" />
                </div>
                <div class="form-group">
                    <label for="IsDefault">Is Default: </label>
                    <InputCheckbox id="IsDefault" class="form-checkbox" @bind-Value="@PromptDTO.IsDefault">
                    </InputCheckbox>
                    <ValidationMessage For="@(() => PromptDTO.IsDefault)" />
                </div>
            </div>
            <div class="col-2">
                @* Move here for the next display column if required *@
            </div>
        </div>
        <div class="" >
            <button type='button' accesskey="c" class="btn btn-lg btn-outline-primary"
                @onclick="@CloseAsync"><u>C</u>ancel</button>
            <button @TaskRunning accesskey="s" type="submit" class="btn btn-lg btn-primary"><u>S</u>ave Record</button>

        </div>
    </EditForm>
</div>
